export DEPLOY_HOST= 1.2.3.4 # remote host IP
export DEPLOY_USER= irpia_user # remote host user
export LOCAL_SCRIPTS_HOME="/path/to/irpia_scripts"
export REMOTE_SCRIPTS_HOME="irpia_scripts"

cd "${LOCAL_SCRIPTS_HOME}"

echo "************************"
echo "Transfering models..."

scp -r ${LOCAL_SCRIPTS_HOME}/dummy/*.py ${DEPLOY_USER}@${DEPLOY_HOST}:${REMOTE_SCRIPTS_HOME}/dummy
scp -r ${LOCAL_SCRIPTS_HOME}/domain-predict/*.py ${DEPLOY_USER}@${DEPLOY_HOST}:${REMOTE_SCRIPTS_HOME}/domain-predict
scp -r ${LOCAL_SCRIPTS_HOME}/domain-predict/models/* ${DEPLOY_USER}@${DEPLOY_HOST}:${REMOTE_SCRIPTS_HOME}/domain-predict/models
echo "ssh ${DEPLOY_USER}@${DEPLOY_HOST} 'chgrp -R www-data ${REMOTE_SCRIPTS_HOME}'"
ssh ${DEPLOY_USER}@${DEPLOY_HOST} 'chgrp -R www-data ${REMOTE_SCRIPTS_HOME}'