@import '@material-design-icons/font';

div.react-dropdown-tree-select {
    width: 100%;
}

div.controls-container .dropdown-trigger {
    border: none;
    width: 100%;
}

div.controls-container .suggestions-section {
    background-color: #b521681a;
    padding-bottom: 1em;
}

div.controls-container .tag .tag-remove {
    font-size: 100%;
    color: #ffffff;
}
div.controls-container .tag {
    background-color: #b52168;
    border: 1px solid #e9e9e9;
    color: #ffffff;
    line-height: 8px;
    font-size: 0.8125rem;
    padding: 10px 12px;
    border-radius: 20px;
    display: inline-block;
}

.controls-container div.dropdown-content input.search {
    font-size: 1.2rem;
}

.mdl-demo div.dropdown {
    display: block;
}

.mdl-demo div.dropdown div.dropdown-content {
    z-index: 10000;
    background-color: white;
}

.mdl-demo .dropdown-trigger > span:after {
    font-size: 12px;
    color: #555;
}
.mdl-demo .dropdown .dropdown-trigger {
    border: none;
    max-height: none;
}
.mdl-demo .dropdown .dropdown-trigger  .tag-item {
    min-width: 0;
    display: inline-block;
    margin: 4px;
}

.mdl-demo .dropdown .dropdown-trigger  .tag-item:last-child {
    min-width: 95%;
    margin-right: 4px;
}

.mdl-demo .toggle {
    font: normal normal normal 18px/1 "Material Icons";
    color: #555;
    white-space: pre;
    margin-right: 4px;
}

.mdl-demo .toggle.collapsed::after {
    cursor: pointer;
    vertical-align: sub;
    content: "\E5CC";
}

.mdl-demo .toggle.expanded::after {
    cursor: pointer;
    vertical-align: sub;
    content: "\E5CF";
}

/* checkbox styles */
.mdl-demo .checkbox-item {
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-right: 0.75rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    vertical-align: middle;
}

.mdl-demo .checkbox-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 2px solid #aaa;
    transition: all 0.3s ease-in-out;
}

.mdl-demo .partial .checkbox-item:not(:checked):before {
    height: 50%;
    transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;
    border-color: #cccccc;
}

.mdl-demo .checkbox-item:checked:before {
    height: 50%;
    transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;
    border-color: #2196f3;
}
