.MuiToolbar-gutters {
    display: none !important;
}

.MuiToolbar-root a.active,
.MuiMenuItem-root a.active {
    font-weight: 600 !important;
}

@media print {
    @page {
        size: auto;
        margin: 10mm;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .no-break {
        page-break-inside: avoid;
    }
}

